.home{
  background-color: #ffb900;
  height: auto;
}

.regHead h1{
  font-size: 6vh;
  background-color: #ffb900;
  width: auto;
  border-radius: 40px;
  font-weight: 650;
  letter-spacing: 0.5px;
}

.agenda{
  background-color: #ffb900;
  margin-bottom: -12px;
}
